body {
    background-image: url("/static/image/tron-legacy-14185-1920x1200.jpg");
}
.container-fluid {

    max-width: 100%;
    height: 1200px;
    padding-top: 15%;

    background-image: url("/static/image/tron-legacy-14185-1920x1200.jpg");
}
img {
    max-width: 100%;
    height: auto;
}
