<!doctype html>
<html>
	<head>
		<title>{{the_title}}</title>
		<link rel="stylesheet" href="/static/hf.css/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>
  <style>
    body{ background-color: black;}
  </style>
	<body>
		{%block body%}

		{% endblock %}
    <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>
</html>
