{% extends 'base.html' %}

{% block body %}

<p> Witaj w programie ,który oblicza kąt miedzy wskazówkami zegara  :D:</p>
<div class="container">
  <p>{{ the_title }} </p>
<form method='POST' action='/results'>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <b>Godzina: </b><input name='godzina' >
  </div>
  <div class="col-xs-12 col-lg-12">
    <b>Minuty:&nbsp;&nbsp;&nbsp;</b><input name='minuta'   >
  </div>
  <div class="col-xs-12 col-lg-12">
    <input value='Oblicz' type='SUBMIT'>
  </div>
</div>
</form>
</div>
{% endblock %}
