{% extends 'base.html' %}
{% block body %}

<form method="POST" action="/results">
        <div class="form-group">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label>H O U R :
                    <input name="godzina" type="number" class="form-control" placeholder="ENTER HOUR">
                </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label>M I N U T :
                    <input name="minuta" type="number" class="form-control" placeholder="ENTER MINUTES">
                </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <label>
                    <button type="submit" class="btn btn-default">CALCULATE</button>
                </label>
            </div>
        </div>
    </form>
{% endblock %}
