{% extends 'base.html' %}
{% block body %}

<div class="container">
  <h3>Witaj w moim programie !!!</h3>
  <h4>Oblicz kąt między wskazówkami zegara </h4>
  <div class="middle">
    <form method="POST" action="/results" >
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <h5>Oblicz kąt wskazówek</h5>
      </div>
      <div class="col-xs-12 col-lg-6">
      <p>Godzina:</p>
      </div>
      <div class="col-xs-12 col-lg-6">
      <p>Minuta:</p>
      </div>
    <div class="col-xs-12 col-lg-4">
      <input class="form-control" name="godzina" placeholder="Godzina" type="number">
    </div>
    <div class="col-xs-12 col-lg-4">
      <input class="form-control" name="minuta" placeholder="Minuta" type="number">
    </div>
      <div class="col-xs-12 col-lg-4">
          <button class="btn btn-primary" value="Oblicz" type="submit">Oblicz</button>
      </div>
   </div>
     </form>
  </div>
</div>
{% endblock %}
